.header {
    height: 70px;
    display: flex;
    align-items: center;
    background-color: #333;
    padding: 20px;
    justify-content: space-between;
}

img {
  margin-left: 70px;
}

.title-header {
    color: white;
    font-family: "Lato";
    font-size: 2rem;
    margin-right: 100px;
}

